// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
    margin-top: $gutter;
    border-top: 10px solid $govuk-blue;
    padding-top: 5px;

    .heading-medium {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }

    li {
        margin-bottom: 10px;
        list-style-type: none;
    }
}

.search-field-right {
    border: #005EA5 4px solid;
    height: 60px;
    width: 320px;
    box-shadow: 0 2px 0 #003618;
    position: relative;

}

.sort {
    display: inline-block;
    margin-left: 120px;
}

.price-sort {
    width: 238px;
}

.search-field {
    border: #005EA5 4px solid;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 0 #003618;
}

.search-box {
    height: 60px;
    width: 60px;
    background-color: #005EA5;
    background-image: url("/public/images/magnifying glass.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border-style: none;
    position: absolute;
    top: 0;
    right: 0;
}

.search-container {
    position: relative;
    width: 70%;
    min-width: 300px;
}

.toolbar-view-options {
    float: right;
    margin-top: -4px;
}

.list-icon {
    height: 25px;
    width: 25px;
    background-image: url("/public/images/list-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;

}

.in-focus {
    display: inline-block;
    border: 3px solid #FFBF47;
    margin-left: 20px;
    padding: 6px 6px 4px 6px;
}

.grid-icon {
    height: 25px;
    width: 25px;
    background-image: url("/public/images/grid-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
    
}

.keyline {
    border: 1px solid #979797;
}

.reg-icon-1 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-1.svg");
    background-repeat: no-repeat;
}

.reg-icon-2 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-2.svg");
    background-repeat: no-repeat;
}

.reg-icon-2-big {
    height: 100px;
    width: 333px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-2.svg");
    background-repeat: no-repeat;
}

.reg-icon-2-medium {
    height: 40px;
    width: 138px;
    background-size: 100%;
    background-position: center;
    background-image: url("/public/images/reg-icon-2.svg");
    background-repeat: no-repeat;
}

.reg-icon-3 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-3.svg");
    background-repeat: no-repeat;
}

.reg-icon-4 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-4.svg");
    background-repeat: no-repeat;
}

.reg-icon-5 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-5.svg");
    background-repeat: no-repeat;
}

.reg-icon-6 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-6.svg");
    background-repeat: no-repeat;
}

.reg-icon-7 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-7.svg");
    background-repeat: no-repeat;
}

.reg-icon-8 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-8.svg");
    background-repeat: no-repeat;
}

.reg-icon-9 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-9.svg");
    background-repeat: no-repeat;
}

.reg-icon-10 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-10.svg");
    background-repeat: no-repeat;
}

.reg-icon-11 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-11.svg");
    background-repeat: no-repeat;
}

.reg-icon-12 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-12.svg");
    background-repeat: no-repeat;
}

.reg-icon-13 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-13.svg");
    background-repeat: no-repeat;
}

.reg-icon-14 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-14.svg");
    background-repeat: no-repeat;
}

.reg-icon-15 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-15.svg");
    background-repeat: no-repeat;
}

.reg-icon-16 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-16.svg");
    background-repeat: no-repeat;
}

.non-bold {
    font-size: 36px;
    font-weight: 100;
    line-height: 40px;
}

.car-preview {
    height: 522px;
    width: 522px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/car.png");
    background-repeat: no-repeat;
}

.buy-now {
    width: 150px;
    background-color: #00823b;
    font: gds transport 16px white;
    box-shadow: 0 2px 0 #003618;
}

.v5c {
    width: 150px;
    height: 210px;
    background-image: url("/public/images/v5c.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1em;
}

.title-select {
    width: 150px;
}

.first-name {
    width: 315px;
}

.last-name {
    width: 315px;
}

.postcode {
    width: 150px;
}

.email-address {
    width: 466px;
}

.phone-number {
    width: 326px;
}

.full-name {
    width: 620px;
}

.johns-table {
    th,
    td {
        width: 60%;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.payment-cards {
    width: 210px;
    height: 40px;
    background-image: url("/public/images/credit-debit-cards.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1em;
}

.name-on-card {
    width: 439px;
}

.card-number {
    width: 439px;
}

.month {
    width: 110px;
}

.year {
    width: 110px;
}

.security-code {
    width: 500px;
    height: 120px;
    background-image: url("/public/images/security-code.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1em;
}

.three-digit-code {
    width: 110px;
}

.success-panel {
    text-align: center;
    margin-top: 2.2em;
    background-color: #28A197;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    margin-bottom: 3em;
    width: 100%;
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
}

.button-container {
    text-align: center;
}

.show-more {
    width: 180px;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you