{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    
    <div>
    <a href="keeper-company" class="link-back">Back</a></div>

    <div class="grid-row">

        <div class="column-two-thirds">

            <div>
                <h2 class="margin-top-2 margin-bottom-2 heading-large">
                    How DVLA uses your data </h2>
            </div>


            <div>
                <P>
                    DVLA handles your personal data in accordance with road vehicle law and data protection laws. The law allows us to release your data to the police and other enforcement bodies.
                </P>

                <P class="">
                    For further information about how we process your data, your rights and who to contact,
                    <a href="#">see our privacy notice</a>.</P>
            </div>


            <div>
                <span><button class="margin-top-3 button" role="button">Accept and continue</button></span>
            </div>

        </div>

    </div>


</main>


{% endblock %}