{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div>
        <a href="keeper-company" class="link-back">Back</a></div>

    <div class="grid-row">

        <div class="column-two-thirds">

            <div>
                <h2 class="margin-top-2 heading-large">
                    Your confirmation</h2>
            </div>

            <table class="johns-table">
                <thead>
                    <tr>
                        <th>
                            <h3 class="margin-top-3 margin-bottom-0 heading-medium">Summary</h3>
                        </th>
                        <th class="numeric" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Registration number</th>
                        <td><div class="reg-icon-2-medium"></div></td>
                    </tr>
                    <tr>
                        <th class="bold-small" scope="row">Total amount to pay</th>
                        <td class="bold-small padding-right-3 padding-top-3 padding-bottom-2">£165.00</td>
                    </tr>
                </tbody>
            </table>


            <table class="johns-table">
                <thead>
                    <tr>
                        <th>
                            <h3 class="margin-top-6 margin-bottom-0 heading-medium">Purchaser</h3>
                        </th>
                        <th class="numeric" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="padding-top-3 padding-bottom-2">Title</th>
                        <td class="bold-small padding-right-3 padding-top-3 padding-bottom-2">Mr</td>

                    </tr>
                    <tr>
                        <th class="padding-top-3 padding-bottom-2">Name</th>
                        <td class="bold-small padding-top-3 padding-bottom-2">John Smith</td>
                    </tr>
                    <tr>
                        <th class="padding-top-3 padding-bottom-2">Address</th>
                        <td class="bold-small padding-right-3 padding-top-3 padding-bottom-2">1 Example Close<br>Swansea<br> SA1 2BC</td>

                    </tr>
                    <tr>
                        <th class="padding-top-3 padding-bottom-2">Email</th>
                        <td class="bold-small padding-top-3 padding-bottom-2">john.smith@gmail.com</td>
                    </tr>
                    <tr>
                        <th class="padding-top-3 padding-bottom-2">Phone</th>
                        <td class="bold-small padding-top-3 padding-bottom-2">01234567891</td>
                    </tr>
                </tbody>
            </table>


            <h3 class="margin-top-6 heading-medium">Declaration</h3>

            <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>





            <button class="margin-bottom-0 margin-top-4 button" type="button">Confirm and continue to payment</button>



        </div>
    </div>

</main>


{% endblock %}