{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="">Driving and transport</a></li>
            <li><a href="">Number plates, vehicle registration and log books</a></li>
        </ol>
    </div>
    <div class="grid-row">
        <div class="column-one-half">

            <h2 class="heading-large">
                Search for a personalised registration number
            </h2>
            <p>
                Try searching by typing in the box. You can search for absolutely anything. </p>

            <div class="margin-top-7 minus-margin-bottom-6 form-group">
                <input class="search-field form-control" id="ni-number" type="text" name="ni-number">

            </div>
                <input class="search-box" id="search" type="button" name="search">

            
        </div>


        <div class="column-one-half">

            <h2 class="heading-large">
                Help me search for a registration number </h2>
            <p>
                Try searching by typing in the box. You can search for absolutely anything. </p>


            <p><button class="margin-top-7 button" role="button">Begin the search</button></p>


        </div>




    </div>

</main>


{% endblock %}