{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div>
    <a href="/create/address" class="link-back">Back</a>
        </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <div>
                <h1 class="margin-bottom-1 h1-large heading-large">Select your address from the list</h1>
            </div>

            <div class="margin-top-4">
                <ul>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">1 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">2 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">3 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">4 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">5 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">6 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">7 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">8 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">9 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">10 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">11 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">12 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">13 Example Close, Swansea, SA1 2BC</a></li>
                    <li class="margin-bottom-2"><a href="/create/confirm-address">14 Example Close, Swansea, SA1 2BC</a></li>
                </ul>
            </div>
            
            <div>
                <p>or</p>
                </div>
            <ul>
                <li class="margin-bottom-0"><a href="#">Enter address manually</a></li>
            </ul>

        </div>
    </div>

</main>


{% endblock %}