{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="#" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">


             <h2 class="margin-top-2 margin-bottom-2 heading-large">
                    Your details </h2>
            
            <p>
            By purchasing this registration number you are obtaining the rights<br>to display it on a vehicle

            </p>


            <form class="margin-top-4">
                <div class="form-group">
                    <fieldset>

                        <div class="margin-bottom-4 form-group" id="select-title">
                            <label class="form-label">Title</label>
                            

                            <select class="form-control-25 form-control" id="select-box" name="select-box">
                                <option></option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                                <option value="Other">Other</option>
                            </select>

                            <div class="margin-top-2 panel panel-border-narrow" id="other">
                                <label class="form-label" for="nationalities-other-country">Other title</label>
                                <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
                            </div>
                        </div>



                        <div class="margin-bottom-4 margin-top-3 form-group" id="first-name">

                            <label class="form-label" for="first-name">First names</label>
                            

                            <input class="form-control-66 form-control" id="firs-tname" name="first-name" type="text">
                        </div>

                        <div class="margin-bottom-2 form-group" id="last-name">


                            <label class="form-label" for="last-name">Last name</label>
                                

                            <input class="form-control-66 form-control" id="last-name" name="last-name" type="text">
                        </div>
                    </fieldset>
                </div>
                
                <button class="margin-bottom-0 margin-top-3 button" type="submit">Continue</button>

            </form>
        </div>
    </div>

</main>

<script>
    $(".button").click(function() {
        go("/simple-search/find-your-address")
    })
</script>

{% endblock %}

