{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="">Driving and transport</a></li>
            <li><a href="">Number plates, vehicle registration and log books</a></li>
        </ol>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Buy a personalised registration number
            </h1>
            <p>
                You can buy a personalised registration for your vehicle from DVLA online or at auction.
            </p>

            <p>
                Search online to see which numbers are available and how much they cost.
            </p>


            <ul class="list">
                <li>
                    <a href="#">Tell me more about personalised registrations
                    </a>
            </ul>

            <div class="panel panel-border-wide">
                <p>
                    This page is also available in Welsh (<a href="#">Cymraeg</a>).
                </p>
            </div>
            <p><button class="margin-top-1 button button-start" role="button">Start now</button></p>
            

            <h3 class="margin-top-6 heading-medium">Before you start</h3>

            <p class="margin-bottom-2">
                You’ll need an email address and a debit or credit card to use this service. </p>

        </div>

        <div class="column-third">
            <aside class="margin-top govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Driving and transport</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="font-xsmall">
                        <li><a href="#">Private (personalised) number</a></li>
                        <li><a href="#">Registration number auctions</a></li>
                        <li><a href="#">Private sales</a></li>
                    </ul>
                </nav>
            </aside>
        </div>


    </div>

</main>


{% endblock %}